<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div>
                <span class="title">Cadastro</span>
            </div>
            <div class="h-bar"></div>
            <div class="form-container">
                <form action="">
                    <div class="field">
                        <div class="field-label">
                            <label for="nome">Nome:</label>
                        </div>
                        <div class="field-input">
                            <input type="text" name="nome">
                        </div>
                    </div>
                    <div class="field">
                        <div class="field-label">
                            <label for="email">Email:</label>
                        </div>
                        <div class="field-input">
                            <input type="email" name="email">
                        </div>
                    </div>
                    <div class="field">
                        <div class="field-label">
                            <label for="senha">Senha:</label>
                        </div>
                        <div class="field-input">
                            <input type="password" name="senha">
                        </div>
                    </div>
                    <div class="field">
                        <div class="field-label">
                            <label for="re-senha">Repita a Senha:</label>
                        </div>
                        <div class="field-input">
                            <input type="password" name="re-senha">
                        </div>
                        
                        
                    </div>
                </form>
            </div>
        </div>    
    </div>

    <span class="juia">juia</span>
</body>
</html>