@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow: hidden;
}

a{
    position: absolute;
    right: 50px;
    top: 50px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 85%;
}

.r-1{
    background-color: #cf4545;
    height: 20%;
}

.r-2{
    height: 60%;
    display: flex;
}

.c-1{
    flex-grow: 1;
    background-color: #cd9292;
}

.c-2{
    flex-grow: 3;
    background-color: #753535;
}

.r-3{
    background-color: #9f3d3d;
    height: 20%;
}